.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px) {
    .mainLayout {
        display: grid;
        grid-template-columns: auto 1fr 1fr 200px;
        grid-template-rows: auto;
        grid-template-areas: "header header header header" "main main main sidebar" "footer footer footer footer";
    }
}

.mainLayout>.sidebar {
    grid-area: sidebar;
}

.mainLayout>.header {
    grid-area: header;
}

.mainLayout>.footer {
    grid-area: header;
}

.mainLayout>.content {
    grid-area: main;
}